*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    

}

.container-1{
    border: 2px solid rgb(58, 57, 57);
    border-radius: 15px;
    width: 240px;
    height: 500px;
    background-color: rgb(38, 35, 35);
    margin: auto;
    margin-top:50px;
    
    /* @media screen and (min-width: 768px){ background-color: rgb(87, 55, 55);
        
    
    }
    @media screen and (min-width: 1024px){ 
        background-color: lavenderblush;
        
    }
    
    @media screen and (min-width: 1200px){ 
        background-color: lavender;
    
    
    } */

    }




/*icon*/

ion-icon.ionic{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 10px;
    margin-top: 6px;
    margin-bottom: 10px;

   
}


/*button*/ 

.icon-btn{
    width:60px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    border:1px solid rgb(38, 37, 37);
    border-radius: 10px;
    height: 25px;
    background-color: rgb(20, 20, 20);
    
     
}

.btn-container{
    margin-top: 150px;
    margin-bottom: 5px;
    border: 2px  rgb(24, 23, 23);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 10px;
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(48, 47, 47);
    padding: 8px;
    height: 305px;
}

 .btn-top{
    font-size: 10px;
    color: rgb(42, 222, 222);
}  



 .btn-side{
color: rgb(213, 91, 112);
} 

#img-icon{
    color: white; 
} 

button{
border: 1px solid rgb(42, 40, 40);
border-radius: 10px;
background-color: rgb(42, 40, 40);
color: aliceblue;
height: 40px;
width: 40px;
margin: 0 auto;
font-weight: 200;
font-size: small;

}
.h_line {
    border-bottom: 3px solid rgb(80, 80, 78);
    width: 100px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}

    
