*{
    padding:0;
    margin:0;
    box-sizing: border-box;

}

.container-1{
    border: 1px solid black;
    border-radius: 5px;
    width: 240px;
    background-color: rgba(6, 3, 3, 0.888);
}

/*icon*/

ion-icon.ionic{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 10px;
}


/*button*/ 

.icon-btn{
    width:80px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 20px;
    border:1px solid black;
    border-radius: 8px;
    background-color: black;
     
}

.btn-container{
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 20px;
    height:300px;
}

.btn-top{
    font-size: 10px;
    padding: 9px;
    color: green;
}

#btn-top3{
    font-size: 10px;
    color: green;
}

.btn-side{
color: red;
}

.btn-bottom{
margin-left: 3px;
}

#img-icon{
    color: white; 
}

button{
margin-right:10px;
margin-left: 10px;
margin-top: 10px;
margin-bottom:10px;
padding:10px;
margin-left: px;
border: 1px solid black;
border-radius: 4px;
color: white;
background-color: black;
}